@import "../../../../../styles/utilities/styleRules.scss";

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: calc(100vh - (5rem + $margin-element + $font-size-subtitle));
  width: 100vw;
  height: auto;
  position: relative;
  background: url("contact-background.webp") no-repeat center center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Added dark overlay
    z-index: -1;
  }
  opacity: 0.8;
  .contactPaper {
    margin: 1rem;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    &:hover {
      box-shadow: 0 12px 2rem $success-color;
    }
    margin-bottom: 2rem;
    @include mobile{
      width: 100%;
    }
  }

  .verticalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    height: 100%;
    .contactTitle {
      position: relative;
      border-bottom: 2px solid transparent;
      transition: color 0.3s ease;
      width: fit-content;
      margin-top: 2rem;
      font-family: $font-family-primary;
      font-size: $font-size-title;
      color: $text-color;
      @include mobile {
        font-size: $font-size-subtitle;
        text-decoration: underline;
        text-decoration-color: $success-color;
        pointer-events: none; // Disable hover
      }
      @include tablet {
        font-size: $font-size-title;
        text-decoration: underline;
        text-decoration-color: $success-color;
        pointer-events: none; // Disable hover
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: $success-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover::after,
      &:focus::after,
      &:active::after {
        transform: scaleX(1);
      }
    }
    @include mobile {
      gap: 0;
    }
    @include tablet {
      gap: 0;
    }
    .contactImage{
      margin-top: 1rem;
      width: 90%;
      height: auto;
      @include mobile {
        width: 50%;
      }
      @include tablet {
        width: 30%;
      }
    }
  }
}
