@import "../../../../../../../styles/utilities/styleRules.scss";
@import "../../../../../../../styles/mixins/media-queries.scss";

.service-card {
  &.MuiCard-root {
    background-color: $secondary-color;
  }
  
  & {
    width: 14rem;
    height: 16.5rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px $success-color;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  @include mobile {
    max-width: none;
    width: auto;
    margin: 0 1rem;
    flex: 1;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px $success-color;
  }

  .MuiSvgIcon-root {
    font-size: 3.5rem;
    color: $success-color;
  }

  .service-card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .service-card-title {
      font-family: $font-family-primary;
      font-size: 1.25rem;
      font-weight: 600;
      color: $primary-color;
    }
    .service-card-description {
      font-family: $font-family-secondary;
      font-size: $font-size-base;
      color: $tertiary-color;
    }
  }
}
