@import "../../../styles/utilities/styleRules.scss";

.contact {
  margin-top: calc(
    6rem + 60px
  ); // Ajusta el margen superior para separar del header fijo (60px es la altura del header, ajusta según sea necesario)
  margin-bottom: 6rem; // Ajusta el margen inferior para separar del footer
  min-height: calc(
    100vh - 60px - 6rem
  ); // Ajusta la altura mínima para que ocupe toda la pantalla menos la altura del header y el margen inferior
  height: auto; // Ajusta la altura según sea necesario
  width: 80%; // Ajusta el ancho según sea necesario
  background: url("contact-background.avif") no-repeat center center;
  background-size: cover;
  position: relative; // Asegúrate de que el posicionamiento sea relativo para el pseudo-elemento
  border: 2px solid #000; // Define el borde
  border-radius: 10px; // Define el radio del borde
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Agrega una sombra para darle profundidad

  &:hover {
    box-shadow: 0 12px 2rem $success-color; // Aumenta significativamente la sombra para darle más profundidad
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
  }
  opacity: 0.8;

  .verticalContainer {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    flex-direction: column;
    height: 100%;
    .contactTitle {
        position: relative; // Necesario para el pseudo-elemento
        border-bottom: 2px solid transparent; // Inicialmente transparente
        transition: color 0.3s ease; // Transición para el color del texto
        width: fit-content;
        margin-top: 2rem;
        font-family: $font-family-primary;
        font-size: $font-size-title;
        color: $text-color;
      @include mobile {
        font-size: $font-size-subtitle;
      }
      @include tablet {
        font-size: $font-size-title;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; // Ajusta según el grosor del borde
        width: 100%;
        height: 2px; // Ajusta el grosor del subrayado
        background-color: $success-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }
  
      &:hover::after,
      &:focus::after,
      &:active::after {
        transform: scaleX(1);
      }
    }

  }

  // Centrar el bloque dentro de su contenedor padre
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; // Centrar horizontalmente
}
