@import "../../../styles/utilities/styleRules.scss";

.speedDial-container {
  &.expanded {
    width: 100vw;
    height: 100vh;
  }
  .speedDial {
    .MuiButtonBase-root {
      background-color: $primary-color;
    }
    .MuiSpeedDialAction-staticTooltipLabel {
      background-color: $primary-color;
      color: $secondary-color;
      font-family: $font-family-primary;
      width: 7.7rem;
      text-align: center;
    }
    .MuiSpeedDialAction-staticTooltip {
      display: flex;
      align-items: center;

      &:hover .MuiSpeedDialAction-staticTooltipLabel {
        background-color: $success-color;
      }
    }
    .MuiButtonBase-root:hover {
      background-color: $success-color;
    }
  }
}
