@import "src/styles/utilities/styleRules";

.drawerContainer {
  margin: 0;
  width: 200px;
}
.listItem {
    margin-left: 0;
    padding: 0;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $text-color;
}
.menuIcon{
    color: $secondary-color;
}