@import "../../../../../../../styles/utilities/styleRules.scss";
@import "../../../../../../../styles/mixins/media-queries.scss";

.stepperContainer{
  margin: $margin-element;
  width: 90%;
  @include mobile{
    height: 23rem;
  }// Ajusta este valor según sea necesario
}
.step-description{
    font-family: $font-family-primary;
    font-size: $font-size-base;
    color: $text-color;
}
.step-icon {
  color: gray; // Color por defecto de los iconos de los pasos
}

.step-icon-active {
  color: $success-color; // Color de los iconos de los pasos activos
}

.step-icon-completed {
  color: gray; // Color de los iconos de los pasos completados
}
