@import '../mixins/media-queries.scss';

// Colores
$primary-color: #3f4b8c;
$secondary-color: #f2f2f2;
$tertiary-color: #869aa6;
$success-color: #0d6073;
$text-color: #0d0d0d;

// Tipografías
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-size-base: 1rem;
$font-size-title: 2rem;
$font-size-subtitle: 1.5rem;
$font-size-small: 0.75rem;

// Espaciado
$margin-element: 1.25rem;
$margin-section: 2.5rem;
$padding-base: 0.9375rem;

// Otros
$border-radius-base: 0.5rem;